{% extends "base.html" %}
{% block title %}
{{ article.title }}
{% endblock title %}
{% block content %}

<h1 align="center">{{ article.title }}</h1>

<div style="margin-right: 20px" id="author" align="center">
    <p>
        <font color="#deb887">作者：{{ article.author }}&nbsp&nbsp</font>
        发布时间： {{ article.pub_date}}
    </p>
</div>
 <div style="margin: 20px" align="center">
     <img src="http://localhost:8000/media/{{article.image}}">
 </div>
<div style="width: 80%" align="center">
    {{ article.content }}
</div>


{% endblock content %}